@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
}
.letras{
font-family:'Dosis', sans-serif; 
}  
.fondoLugares{
    background-image:url(../img/mapaHoteles.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 0%;
}